.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 1250px;
  margin: 22px auto 0;
  padding: 10px 25px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 738px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-radius: 0;
    padding: 5px;
  }

  .content {
    width: 320px;
    padding: 0 5px;
    margin-bottom: 15px;
  }

  .mobileInfo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
