.avatar_choose {
  width: 17vw;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.user_avatar_big {
  width: 11rem;
  height: fit-content;
  align-self: center;
}

.avatar_txt {
  font-size: 1.4em;
  padding: 0.71em 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gray);
  font-weight: 600;
}

.avatar_little_div {
  width: 17vw;
  height: calc(17vw / 2.6);
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: baseline;
}

.user_avatar_small {
  max-width: 21%;
  max-height: auto;
  margin: 0;
  padding: 0;
  align-self: center;
}

.user_avatar_small:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  translate: transform 0.4s ease-in;
}

.active {
  max-width: 21%;
  max-height: auto;
  outline: none;
  transform: scale(1.1, 1.1);
  translate: transform 0.4s ease-in;
  border: 1px solid darkgreen;
}

@media (max-width: 1979px) {
  .avatar_txt {
    font-size: 1.1em;
  }
}

@media (max-width: 1279px) {
  .avatar_choose {
    width: 24vw;
  }

  .user_avatar_big {
    width: 24vw;
  }

  .avatar_little_div {
    width: 24vw;
    height: calc(24vw / 2.6);
  }

  .avatar_txt {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  .avatar_choose {
    width: 100%;
    margin-bottom: 20px;
  }

  .user_avatar_big {
    width: 70%;
  }

  .avatar_little_div {
    width: 100%;
    height: 115px;
  }

  .user_avatar_small:hover {
    cursor: pointer;
    transform: scale(1, 1);
  }

  .active {
    max-width: 20%;
    max-height: auto;
    outline: none;
    transform: scale(1.1, 1.1);
    translate: transform 0.4s ease-in;
    border: 1px solid darkgreen;
  }
}
